<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - EbunOluwa Foundation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '' %}style.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" href="/">Ebunoluwa <br> foundation</a>
                <button class="hamburger" id="hamburger" aria-label="Toggle navigation" aria-expanded="false">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <ul class="nav-links" id="nav-links" aria-hidden="true">
                    <li><a href="/">Home</a></li>
                    <li><a href=" {% url "about" %}">About Us</a></li>
                    <li><a href=" {% url "whatwedo" %}">What We Do</a></li>
                    <li><a href=" {% url "contactus" %}">Contact</a></li>
                    <li><a href="https://www.paypal.com/ncp/payment/Z9WLC3YQQF9GL"><button class="donate-btn">Donate</button></a></li>

                </ul>
            </nav>

            <div class="header-content">
                <h2 class="header-text">Together, we can</h2>
                <h1 class="header-title">Build a world where every child has privileges</h1>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
    </header>
    <!-- Our Team Section -->
    <section class="our-team">
        <div class="container">
            <h1 class="team-title">Our Team</h1>
            <p class="team-description">
                The EbunOluwa Foundation and its various projects are run by a small team of dedicated and passionate paid and volunteer professionals.
            </p>

            <div class="team-cards">
                {% for member in team_members %}
                <div class="team-card">
                    <img src="{{ member.image.url }}" alt="{{ member.name }}">
                    <h3 class="team-name">{{ member.name }}</h3>
                    <p class="team-position">{{ member.position }}</p>
                    <p class="team-bio">
                        {{ member.bio }}
                        <span class="read-more">Read More</span>
                        <span class="more-text">{{ member.more_text }}</span>
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
   

   
    <!-- Give Us A Hand Section -->
    <section class="cta-section">
        <div class="container">
            <h2>Give us a hand</h2>
            <p class="cta-text">Support us and change the course of a child’s life today!</p>
            <a href="https://www.paypal.com/ncp/payment/Z9WLC3YQQF9GL" class="cta-donate-btn">Donate</a>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-info">
                <p>12 Afisman Drive, off Odunyemi Street,<br>
                    Ikeja, Lagos State.<br>
                    Ebunoluwaestablishment@gmail.com,<br>
                    info@ebunoluwafoundation.com
                 </p> 
            </div>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
        </div>
     
    </footer>
    <!-- <div class="line">
        <hr class="footer-line">
        <div class="footer-copyright">
            <p>Copyright © 2024 EbunOluwa | Designed by <a href="#">SurlTech</a></p>
        </div>
    </div> -->
   

    <script src="{% static '' %}scripts.js"></script>
</body>
</html>
