<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation failed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '' %}style.css">
</head>
<body>

    
    
      
    <section class="cta-section">
        <h1>Donation Failed</h1>
        <p>Unfortunately, there was an issue processing your donation. Please try again.</p>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-info">
                <p>12 Afisman Drive, off Odunyemi Street,<br>
                   Ikeja, Lagos State.<br>
                   +234-803 335 7151, +234-7017941737<br>
                   ebunoluwafoundation@yahoo.com,<br>
                   info@ebunoluwafoundation.org
                </p>
            </div>
            <div class="footer-social">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            </div>
        </div>
     
    </footer>
   
   

    <script src="{% static '' %}scripts.js"></script>
</body>
</html>
