<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Success</title>
    <link rel="stylesheet" href="{% static '' %}style.css">
</head>
<body>

   
    
      
    <section class="cta-section">
        <h1>Thank you for your donation!</h1>
    <p>Your support helps us continue our mission to support children in need.</p>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-info">
                <p>12 Afisman Drive, off Odunyemi Street,<br>
                   Ikeja, Lagos State.<br>
                   +234-803 335 7151, +234-7017941737<br>
                   ebunoluwafoundation@yahoo.com,<br>
                   info@ebunoluwafoundation.org
                </p>
            </div>
            <div class="footer-social">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            </div>
        </div>
     
    </footer>
   
   

    <script src="{% static '' %}scripts.js"></script>
</body>
</html>
